.show-data{
  margin-top: 95px;
  text-align: center;
  padding-bottom: 50px;
}
table{
  text-align: center;
  width: 100%;
  font-family: Trebuchet MS;
  margin-bottom: 50px;
}
th{
  background-color: #588c7e;
  color: white;
  font-size: 20px;
}
tr:nth-child(even){
  background-color: #ddd;
}
th td{
  display: flex;
}
table,tr,th,td{
  border-collapse: collapse;
  text-align: center;
}
td{
  font-size: 15px;
  font-family: Arial Narrow;
}
.quantity{
  width: 50px;
  text-align: center;
}
